*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
    
}
:root{
  --fancy:#FFF560;
  --fancy2:#2EE0AE;
  --fancy2light:#C7E2C3;
  --darkest:#664C4B;
  --normal:#E3D0A6;
  --light:#F8F4C7;
}

body {
  background-color: var(--darkest);
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: var(--fancy2light);
  margin-top:6rem;
  margin-bottom: 1rem;
}

canvas {
  background:var(--darkest);
  display: block;
  margin: 0 auto;
  border: 0.75rem solid var(--light)
}